<label tuiLabel="Альтернатива">
  <div
    tuiGroup
    [adaptive]="true"
    [collapsed]="true"
  >
    <tui-radio-block
      [hideRadio]="true"
      contentAlign="right"
      [formControl]="form"
      item="RIGHT_SIDED"
      size="l"
    >
      Правосторонняя
    </tui-radio-block>
    <tui-radio-block
      [hideRadio]="true"
      contentAlign="right"
      [formControl]="form"
      item="LEFT_SIDED"
      size="l"
    >
      Левосторонняя
    </tui-radio-block>
    <tui-radio-block
      [hideRadio]="true"
      contentAlign="right"
      [formControl]="form"
      item="TWO_SIDED"
      size="l"
    >
      Двусторонняя
    </tui-radio-block>
  </div>
</label>
