@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
  display: block;
  background: #F6F7F8;
  color: #2d2d2d;
}

.wrapper {
  .inset-border(bottom, light);
  display: flex;
  flex-direction: row;
  padding: 0rem 1rem 0;
  position: fixed;
  height: 4rem;
  background: #eeeeef;
  z-index: 1;
  left: 0;
  right: 0;
}

.content {
  padding-left: 20px;
  padding-bottom: 15px;
  background: #F6F7F8;
  position: relative;
  top: 4rem;
}

.title-link {
  margin: 0;
  margin-right: auto;
}

.title {
  min-width: 15.625rem;
}

.navigate-btn-block {
  width: 40rem;
  min-width: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 0.5rem;
  gap: 1rem;
}

.current-tab .t-wrapper {
  background: #b7b7b7;
}

.link {
  padding: 1.6rem 1rem 0;
  margin-left: 0rem;
}
