<tui-root>
  <header class="wrapper" tuiMode="onLight">
    <a
      tuiLink
      title="Стартовая страница"
      rel="noreferrer"
      class="title-link"
      href="/"
    >
      <h1 class="tui-text_h4 title">ABnTester</h1>
    </a>
    <a
      tuiLink
      title="Код проекта на GitHub"
      icon="tuiIconGithubLarge"
      target="_blank"
      rel="noreferrer"
      href="https://github.com/Xapulc/ABnTester"
      class="link"
    >
    </a>
    <a
      tuiLink
      title="Обратная связь"
      icon="tuiIconMessageSquareLarge"
      target="_blank"
      rel="noreferrer"
      href="mailto:abntester.app@gmail.com"
      class="link"
    >
    </a>
  </header>
  <div class="content">
    <form class="select-form-container">
      <div class="tui-row">
        <div class="tui-col_12 tui-form__row_multi-fields">
          <tui-select
            class="tui-form__multi-field"
            tuiTextfieldSize="l"
            [formControl]="designTypesFormControl"
          >
            Дизайн теста
            <input
              tuiTextfield
            />
            <tui-data-list-wrapper
              *tuiDataList
              [items]="designTypes"
            ></tui-data-list-wrapper>
          </tui-select>
          <tui-select
            class="tui-form__multi-field"
            tuiTextfieldSize="l"
            [formControl]="numberOfSamplesFormControl"
          >
            Количество выборок
            <input
              tuiTextfield
            />
            <tui-data-list-wrapper
              *tuiDataList
              [items]="numberOfSamples"
            ></tui-data-list-wrapper>
          </tui-select>
        </div>
      </div>
    </form>
    <router-outlet></router-outlet>
  </div>
</tui-root>
