<div class="form-and-result-container">
  <form [formGroup]="form" class="tui-form form-container">
    <div class="tui-row">
      <div class="tui-col_12">
        <div class="tui-form__row">
          <is-binary-radio-param formControlName="type"/>
        </div>
        <div class="tui-form__row tui-form__row_multi-fields">
          <alpha-param formControlName="alpha"
                       [hintContent]="getSuitableHintContent().alpha"
                       class="tui-form__multi-field"/>
          <beta-param formControlName="beta"
                      [hintContent]="getSuitableHintContent().beta"
                      class="tui-form__multi-field"/>
        </div>
        <div class="tui-form__row tui-form__row_multi-fields">
          <div class="tui-form__multi-field">
            <mde-param formControlName="mde" [hintContent]="getSuitableHintContent().mde" [isPercent]="isBinaryCase()"/>
          </div>
          <div class="tui-form__multi-field" *ngIf="isBinaryCase()">
            <probability-param formControlName="p" [hintContent]="getSuitableHintContent().probability"/>
          </div>
          <div class="tui-form__multi-field" *ngIf="isNonBinaryCase()">
            <variance-param formControlName="variance" [hintContent]="getSuitableHintContent().variance"/>
          </div>
        </div>
        <div class="tui-form__row">
          <one-two-sided-alternative-param formControlName="alternative"/>
        </div>

        <div class="tui-form__buttons">
          <button
            tuiButton
            size="l"
            type="submit"
            appearance="primary"
            class="tui-form__button"
            [disabled]="form.invalid"
            (click)="onSubmit()"
          >
            Рассчитать
          </button>
          <button
            *ngIf="showShareButton"
            tuiButton
            icon="tuiIconShare2"
            appearance="secondary"
            size="l"
            class="tui-form__button"
            (click)="share()"
          >
            Поделиться
          </button>
        </div>
      </div>
    </div>

  </form>
  <standard-calculation-result *ngIf="lastAppliedResult" class="result-container"
                               [content]="getSuitableCalculationContent()">
  </standard-calculation-result>
</div>
