<div class="tui-container">
  <form [formGroup]="form">
    <div class="tui-row">
      <div class="tui-col_8">
        <div class="tui-form__row">
          <is-binary-radio-param formControlName="type"/>
        </div>
        <div class="tui-form__row tui-form__row_multi-fields">
          <alpha-param formControlName="alpha"
                       [hintContent]="getSuitableHintContent().alpha"
                       class="tui-form__multi-field"/>
          <beta-param formControlName="beta"
                      [hintContent]="getSuitableHintContent().beta"
                      class="tui-form__multi-field"/>
        </div>
        <div class="tui-form__row tui-form__row_multi-fields" *ngIf="isBinaryCase()">
          <div class="tui-form__multi-field">
            <mde-percent-param formControlName="mdePercent"/>
          </div>
          <div class="tui-form__multi-field">
            <probability-param formControlName="probability"/>
          </div>
        </div>
        <div class="tui-form__row tui-form__row_multi-fields" *ngIf="isNonBinaryCase()">
          <div class="tui-form__multi-field">
            <mde-abs-param formControlName="mdeAbs"/>
          </div>
          <div class="tui-form__multi-field">
            <variance-param formControlName="variance"/>
          </div>
        </div>
        <div class="tui-form__row">
          <one-two-sided-alternative-param formControlName="alternative"/>
        </div>

        <div class="tui-form__buttons">
          <button
            tuiButton
            size="l"
            type="submit"
            class="tui-form__button"
            [disabled]="form.invalid"
            (click)="onSubmit()"
          >
            Рассчитать
          </button>
        </div>
      </div>
    </div>

  </form>
  <div *ngIf="showResult">
    <p>
      Размер выборки: {{sampleSize}}
    </p>
  </div>
</div>
